<div class="container">
<div class="card m-b-15">
  <div class="card-header">Prescription</div>
  <div class="card-body" >
      <fieldset *ngFor="let pres of precriptionList">
          <legend>{{pres.diagnosis}}</legend>
          <details>
              <summary>Treatment</summary>
              <p>{{pres.prescription}}</p>
             
            </details>
            <details>
                <summary>Other Treatment Options</summary>
                <p>{{pres.otherTreatment}}</p>
              </details>
      </fieldset>
      
  </div>
</div>
</div>
